{% extends 'account/base.html' %}

{% block main %}
    <div>
        <div class="tab">
            <span {% if inform_type == "message" %}class="active"{% endif %}>
                <a href="{% url 'uc_inform' 'message' %}">
                    收件箱
                    <label id="unread_message_num"
                           style="color:#cc5500;{% if unread.0 == 0 %}display:none{% endif %}">{{ unread.0 }}</label>
                </a></span>
            <span {% if inform_type == "sent_message" %}class="active"{% endif %}>
                <a href="{% url 'uc_inform' 'sent_message' %}">
                    发件箱
                </a></span>
            <span {% if inform_type == "notice" %}class="active"{% endif %}>
                <a href="{% url 'uc_inform' 'notice' %}">
                    通知
                    <label id="unread_notification_num"
                           style="color:#cc5500;{% if unread.1 == 0 %}display:none{% endif %}">{{ unread.1 }}</label>
                </a></span>
                <span {% if inform_type == "send_message" %}class="active"{% endif %}><a
                        href="{% url 'uc_inform' 'send_message' %}">发消息</a></span>
                {% if user.is_admin %}
                    <span{% if inform_type == "send_notice" %} class="active"{% endif %}>
                    <a href="{% url 'uc_inform' 'send_notice' %}">发通知</a></span>
                {% endif %}
        </div>
        <div style="padding-top: 10px">{% block inform_content %}{% endblock %}</div>
    </div>
{% endblock %}