{% extends 'account/base.html' %}

{% load staticfiles %}
{% block titlePrefix %}修改密码{% endblock %}
{% block css_and_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
{% endblock %}

{% block main %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div>
        <form id="password_form" method="post" action="">
            <div>
                <table>
                    <tr>
                        <td><label for="original_pwd">原密码:</label></td>
                        <td><input id="original_pwd" name="original_pwd" type="password" style="width:100px"></td>
                    </tr>
                    <tr>
                        <td><label for="new_pwd1">新密码:</label></td>
                        <td><input id="new_pwd1" name="new_pwd1" type="password" style="width:100px"></td>
                    </tr>
                    <tr>
                        <td><label for="new_pwd2">确认新密码:</label></td>
                        <td><input id="new_pwd2" name="new_pwd2" type="password" style="width:100px"></td>
                    </tr>
                </table>
            </div>
            <div><input id="submit" type="submit" value="保存"></div>
        </form>
    </div>
{% endblock %}

{% block script_at_page_end %}
    <script>
        $(function () {
            $("#submit").click(function () {
                var orig = $("#original_pwd");
                var pwd1 = $("#new_pwd1");
                var pwd2 = $("#new_pwd2");
                if (orig.val().trim() == "") {
                    alert("原密码不能为空");
                    return false;
                }
                if (pwd1.val().trim() == "" || pwd2.val().trim() == "") {
                    alert("新密码不能为空");
                    return false;
                }
                if (pwd1.val() != pwd2.val()) {
                    alert("新密码必须相同");
                    return false;
                }
                if (orig.val() == pwd2.val()) {
                    alert("新旧密码不能相同");
                    return false;
                }
            });
        })
    </script>
{% endblock %}