<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加版块</title>
    {% load my_tag_filter %}
    <script>
        if (!document.getElementById("main"))
            top.location.href = {% url 'admin_index' %};
    </script>
</head>
<body>
<div>
    <form action="{% url 'admin_add_forum' %}" method="post" id="addForumForm" enctype="multipart/form-data">
        <div>{{ form.id }}</div>
        <div>
            {{ form.non_field_errors }}{{ form.belong.errors }}{{ form.parent_id.errors }}
            <label for="{{ form.belong.auto_id }}">{{ form.belong.label }}:</label>{{ form.belong }}
            &nbsp;&nbsp;<label
                for="{{ form.parent_id.auto_id }}">{{ form.parent_id.label }}:</label>{{ form.parent_id }}
        </div>
        <div>{{ form.name.errors }}<label for="{{ form.name.auto_id }}">{{ form.name.label }}:</label>{{ form.name }}
        </div>
        <div>{{ form.tag.errors }}<label for="{{ form.tag.auto_id }}">{{ form.tag.label }}:</label>{{ form.tag }}</div>
        <div>{{ form.descr.errors }}<label for="{{ form.descr.auto_id }}">{{ form.descr.label }}:</label></div>
        <div>
            {{ form.descr|addattrs:"style=height:50px" }}</div>
        <div>{{ form.content.errors }}<label for="{{ form.content.auto_id }}">{{ form.content.label }}:</label></div>
        <div>
            {{ form.content|addattrs:"style=height:150px" }}</div>
        <div>{{ form.allow_topic.errors }}<label
                for="{{ form.allow_topic.auto_id }}">{{ form.allow_topic.label }}:</label>{{ form.allow_topic }}</div>
        <div>{{ form.icon.errors }}<label for="{{ form.icon.auto_id }}">{{ form.icon.label }}:</label>{{ form.icon }}
        </div>
        <div>{{ form.topic_credit.errors }}<label
                for="{{ form.topic_credit.auto_id }}">{{ form.topic_credit.label }}:</label>{{ form.topic_credit }}
        </div>
        <div>{{ form.post_credit.errors }}<label
                for="{{ form.post_credit.auto_id }}">{{ form.post_credit.label }}:</label>{{ form.post_credit }}</div>
        <div>{{ form.visit_level.errors }}<label
                for="{{ form.visit_level.auto_id }}">{{ form.visit_level.label }}:</label>{{ form.visit_level }}</div>
        <div>{{ form.topic_level.errors }}<label
                for="{{ form.topic_level.auto_id }}">{{ form.topic_level.label }}:</label>{{ form.topic_level }}</div>
        <div>{{ form.post_level.errors }}<label
                for="{{ form.post_level.auto_id }}">{{ form.post_level.label }}:</label>{{ form.post_level }}</div>
        <div><input id="btn" type="submit" value="确定"/></div>
    </form>
</div>

</body>
<script type="text/javascript">
    $(function () {
        var sel = $("#id_parent_id");
        sel.empty();
        sel.append('<option value="00000000000000000000000000000000" selected="selected">首页</option>');
        $("#addForumForm").ajaxForm({
            //target: '#main',
            dataType: 'html',
            semantic: true,
            beforeSubmit: function () {
                //表单提交前做表单验证
            },
            success: function (responseText, statusText, xhr, $form) {
                $("#main").html(responseText);
            }
        });

        $("#id_belong").change(function () {
            if ($(this).val() != "0")
                $.ajax({
                    type: "POST",
                    url: "{% url 'admin_get_forums_from_bbs' %}",
                    data: {"bbs_id": $("#id_belong").val()},
                    dataType: "json",
                    success: function (data) {
                        sel.empty();
                        sel.append('<option value="00000000000000000000000000000000" selected="selected">首页</option>');
                        $.each(data, function (i, element) {
                            sel.append('<option value=' + element['id'] + '>' + element['name'] + '</option>');
                        });
                    },
                    error: function () {
                        alert("信息提交失败");
                    }
                });
        });
    });
</script>
</html>